body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  margin: 0;
  padding: 24px;
}

header {
  border-bottom: #999 1px solid;
  font-size: 200%;
  font-weight: bold;
  padding-bottom: 12px;
}

header span {
  color: #467575;
}

form {
  margin: 24px 0;
}

form button {
  background-color: #467575;
  border: none;
  border-radius: 0;
  color: #fff;
  font-size: 100%;
  padding: 16px;
}

form input,
form select {
  box-sizing: border-box;
  border: #467575 1px solid;
  border-radius: 0;
  font-size: 100%;
  padding: 15px;
}

.albums {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.albums>a {
  background: linear-gradient(to bottom, #fff -5%, #65A7A8 120%);
  padding: 12px;
  text-align: center;
  text-decoration: none;
  color: #467575;
}

img {
  max-width: 100%;
}

footer {
  background-color: #467575;
}

footer .container {
  padding-top: 15px;
}

footer .container p {
  padding: 0;
  margin: 0;
}

header {
  background-color: #467575;
}

header H1 {
  padding-left: 15px;
}

main {
  padding: 20px 0;
}

.albums .card img {
  width: 18em;
  height: 18em;
  align-items: center;
}

form .search {
  width: 25em;
  padding: 2px 15px;
  border: 1px solid #ced4da;
}

form .page_number {
  width: 10em;
  padding: 2px 15px;
  border: 1px solid #ced4da;
}

form .select_filtr {
  width: 10em;
  padding: 2px 15px;
  border: 1px solid #ced4da;

}

form .btn {
  background-color: #467575;
  color: #fff;
  padding: 2px 15px;
}