{{> header.html}}

<h1>Szukaj przedmiotu: </h1>
<!--
<form onsubmit="submitForm(); return false;">
    <input type="text" name="q" id="searchInput" aria-label="Search" value="{{query}}" placeholder="Rower" />
    <select name="sort" id="sortSelect">
        <option value="relevance" default>Trafność</option>
        <option value="price_high_to_low">Cena (malejąco)</option>
        <option value="price_low_to_high">Cena (rosnąco)</option>
        <option value="newest_first">Najnowsze</option>
        <option value="fav">Ulubione</option>
    </select>
    <input type="text" name="page" id="pageInput" aria-label="Page" value="{{page}}"/>
    <button type="submit">Szukaj</button>
</form>

-->

<form class="form-inline">
    <div class="input-group ml-2">
        <input class="search" type="text" name="q" id="searchInput" aria-label="Search" value="{{query}}" class="form-control" placeholder="Szukaj produktów...">
        <input class="page_number" type="number" class="form-control" type="text" name="page" id="pageInput" aria-label="Page" value="{{page}}" placeholder="Numer strony">
        <select  name="sort" id="sortSelect" class="form-select form-control select_filtr" aria-label="Filtrowanie">
            <option selected >Filtrowanie</option>
            <option value="price_high_to_low">Cena (malejąco)</option>
            <option value="price_low_to_high">Cena (rosnąco)</option>
            <option value="newest_first">Najnowsze</option>
            <option value="fav">Ulubione</option>
          </select>
        <div class="input-group-append">
          <button class="btn" type="submit">Przejdź</button>
        </div>
    </div>
  </form>

<!--

<div class="albums">
    {{#items}}
    <a href="{{url}}">
        <h2>{{title}}</h2>
        {{#photo}}
        <img src="{{url}}" alt="zdjęcie" />
        {{/photo}}
        <p>{{price}} {{currency}}</p>
        <p>💗{{favourite_count}}</p>
    </a>
    {{/items}}
</div>

-->

<div class="albums">
{{#items}}
<div class="card">
    {{#photo}}
    <img src="{{url}}" class="card-img-top" alt="zdjęcie_produktu">
    {{/photo}}
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">Cena: {{price}} {{currency}}
      <br>💗{{favourite_count}}</p>
      <a href="{{url}}" class="btn btn-primary">Szczegóły</a>
    </div>
  </div>
  {{/items}}
</div>

<script>
    function submitForm() {
        var searchInputValue = document.getElementById("searchInput").value;
        var sortSelectValue = document.getElementById("sortSelect").value;
        var pageInputValue = document.getElementById("pageInput").value;

        // Construct the URL with the search parameter and sort parameter
        var url = "/" + encodeURIComponent(searchInputValue) + "?sort=" + encodeURIComponent(sortSelectValue) + "&page=" + encodeURIComponent(pageInputValue);

        // Redirect to the constructed URL
        window.location.href = url;
    }

    // Function to get URL parameter by name
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return "";
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    // Get the value of the 'sort' parameter from the URL
    var sortParam = getParameterByName("sort");

    // Set the selected attribute for the corresponding option
    if (sortParam) {
        var sortSelect = document.getElementById("sortSelect");
        var option = sortSelect.querySelector('option[value="' + sortParam + '"]');
        if (option) {
            option.selected = true;
        }
    }
</script>

{{> footer.html}}
